<div class="container-fluid">
    <div class="about">
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <div class="backAbout">
                    <h1>О компании CCT</h1>
                    <p>
                        Логистическая компания CCT Logistic была основана в 2017 году.<br /><br />

                        Штат высококвалифицированных специалистов, отлаженные логистические цепочки и прямые контракты с перевозчиками позволяют предложить нашим клиентам действительно низкие цены и оптимальные условия и сроки доставки. Безусловно одним из наших преимуществ является постоянный контроль всех этапов перевозки груза. Оптимизация таможенных платежей достигается в частности за счёт кадрового состава, бывшими сотрудниками Федеральной Таможенной Службы. Экспедиторы нашей компании с заботой о грузе производят весь комплекс необходимых сопроводительных портовых услуг.<br /><br />

                        Приглашаем новых партнёров к успешному сотрудничеству и просим Вас ознакомится с нашим приглашением, в котором Вы найдёте перечень наших основных услуг. Файл доступен по этой ссылке:<br /><br />
                        @Html.ActionLink("Приглашение к сотрудничеству для партнёров", "Download")
                    </p>
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="abilities">
        <div class="row">
            <h1>
                Основные виды услуг оказываемых нашим клиентам:
            </h1>
            <div class="col-md-4">
                <img src="~/Images/Снимок.PNG" />
            </div>
            <div class="col-md-4">
                <img src="~/Images/Снимок2.PNG" />
            </div>
            <div class="col-md-4">
                <img src="~/Images/Снимок3.PNG" />
            </div>
        </div>
    </div>
</div>
