<header>
    <div class="row">
        <div class="col-md-12">
            <h1>Логистическая компания</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="advantages-header">
                <ul>
                    <li>Експорт/Импорт</li>
                    <li>Кратчайшие сроки доставки</li>
                    <li>Адекватные цены</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            @*<span class="heading-order">Заказать прямо сейчас со скидкой!</span>*@
            <a href="/Home/Following" class="orderBtn">Заказать услугу</a>
        </div>
    </div>

</header>


<div class="first">
    <div class="container-fluid">
        <div class="row">
            <div class="advantages">
                <div class="col-md-7">
                    <h3>Вы наш клиент, если:</h3>

                    <h3><span>Вам нужна лучшая цена</span></h3>
                    <p>
                        Снижаем затраты за счёт прямых контрактов и оптимальных маршрутов. Мы сделаем так, чтобы Вы никогда не переплачивали за логистику.
                    </p>

                    <h3><span>Для Вас крайне важны сроки доставки</span> </h3>
                    <p>
                        В оптимизации маршрутов и сроков мы профессионалы. Будь то контейнер из Шанхая в Москву или перевозка по России, будьте уверены - мы организуем перевозку в кратчайшие сроки.
                    </p>

                    <h3><span>Вы занимаетесь импортом товаров из стран Азиатско-тихоокеанского региона</span></h3>
                    <p>
                        Одними из наших постоянных клиентов являются компании, закупающие товары крупными партиями за границей. Крупные компании предпочитают работать с нами, а не тратить деньги на посредников и их ошибки.
                    </p>

                </div>
                <div class="photo col-md-5">
                    <img src="~/Images/чел.PNG" />
                </div>
            </div>
        </div>
    </div>
</div>



<div class="second">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>Наши преимущества</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="item-advant">
                    <h3>Цена на 22% дешевле рынка</h3>
                    <p>
                        Работаем без посредников, без ненужных дополнительных работ.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item-advant">
                    <h3>Фиксируем стоимость</h3>
                    <p>Согласованная ставка в договоре постоянна и неизменна.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item-advant">
                    <h3>Эксперты в логистике</h3>
                    <p>Доставим любой контейнер в любую точку мира!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="item-advant">
                    <h3>100% контроль груза</h3>
                    <p>Постоянный мониторинг местоположения контейнеров и погрузочно-разгрузочных работ.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item-advant">
                    <h3>Сокращаем расходы</h3>
                    <p> Разрабатываем оптимальный маршрут и оптимизируем таможенные платежи.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item-advant">
                    <h3>Программа лояльности</h3>
                    <p>Скидки для постоянных клиентов, отдельный менеджер для постоянных клиентов.</p>
                </div>
            </div>
        </div>
    </div>

</div>


@*<div class="container">
        <div class="second row">
            <div class="col-md-6">
                <h3>Наши преимущества:</h3>
                <p>
                    Expeditor Co — логистическая компания, осуществляющая свою деятельность в течение 16 лет. За это время компания выросла из небольшой транспортно–экспедиторской фирмы, ориентированной на доставку грузов из Финляндии, в  полноценного логистического игрока Северо-Запада России, в пул Клиентов которого входит ряд транснациональных корпораций.
                </p>
                <p>
                    Сегодня Expeditor Co уверенно стоит на ногах. Существенно расширен спектр оказываемых услуг: открыт европейский офис компании в Финляндии; используются свои, а также партнёрские склады в ключевых, с точки зрения логистики, международных локациях; по дорогам курсируют автомобили компании.
                </p>
                <h2>
                    Что способствует росту компании?
                </h2>
                <p>
                    Если кратко, то компания ориентирована на результат, достижение которого является следствием глубокого понимания процесса и чёткой организации труда. Умелое стратегическое планирование деятельности, применение современного подхода в ведении дел и современных систем учета, ориентированность на клиента и забота о сотрудниках — всё это способствует поступательному и продуманному движению Expeditor Co к успеху.

                    Головной офис компании находится в Санкт-Петербурге.

                    Обращайтесь и почувствуйте, что означает «сервис» за разумные деньги на деле.
                </p>
            </div>
        </div>
    </div>*@

