
<div class="tariphs">
    <div class="container-fluid">
        <div class="row">
            <div class="prices">
                <h2>Цены</h2>
                <p>
                    сухопутные перевозки: 20грн
                </p>
                <p>
                    морские перевозки: 30грн
                </p>
                <p>
                    конец
                </p>
            </div>
        </div>
    </div>
</div>
